.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.DS_Store
.obsidian/community-plogins.json
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/community-plugins.json
