# Investment appraisal Example 19: Post-completion audit
The following example uses simplified numbers, but should illustrate the process for a postcompletion audit.

LCH Company manufactures product X. One year ago, the company considered the purchase of a new machine which would reduce operating costs.

The project had a positive NPV on a pre-tax basis, and a decision was taken to buy the machine.

The original NPV evaluation is reproduced below.

![](Investment%20appraisal%20Example%2019%20Post-completion%20audit/38690D2E-75FD-412C-891C-4C190FC979FB.png)
At the end of year 1 a post audit of the project was carried out. This audit revealed the following:

- The original investment appraisal failed to include the installation costs of the new machine. This amounted to $5,000.
- The actual variable operating costs in year 1 were higher than expected, and it is now expected that this higher level of cost will continue through the last three years of the project. These higher costs have reduced the cash flow benefits from the new machine.
- On the other hand, the actual fixed costs (cash flows) attributed to the project in year 1 were $5,000 less than expected and this level of annual saving in fixed costs is expected to continue through the last three years of the project.
- There is no change in the expected disposal value of the machine at the end of year 4.

A new NPV calculation has been produced, showing what the NPV of the project would have been if the revised cash flows had been used.

![](Investment%20appraisal%20Example%2019%20Post-completion%20audit/F3B4DCB3-038B-4014-B117-18B81F3FD58A.png)
In the light of this post-completion audit, the issue is; should the project now be abandoned, or can ways be found to retrieve the situation? For example, can selling prices be increased to compensate for the increases in variable costs and machine installation costs?
#QP/b/Practice/investment